<section class="user-profile">
    <div class="row">
        <div class="user-profile-header">
        </div>    
    </div>

    <div class="user-profile-body">
        <div class="container">
            <div class="row">
                <div class="col-4">
                    side-user-profile
                </div>

                <div class="col-8">
                    <div class="user-activities">
                            <div class="user-activities-header">
                                <div class="user-activities-btn active">Answers</div>
                                <div class="user-activities-btn">Questions</div>
                            </div>

                            <div class="user-activities-body">
                                <div class="answer-container">
                                    <div class="answer-header">
                                        <div class="user-icon"><img src="../../assets/images/icon_brain_round.png"></div>
                                        <div>
                                            <div>
                                                <span class="username">lyzersmurf</span> answered <span class="question">6. Driving beyond the speed limit is illegal 7. El⁠…</span>
                                            </div>
                                            <div>
                                                <span class="date">6 days ago</span> <span class="subject"> English</span>
                                            </div>
                                        </div>
                                    </div>
                                
                                    <div class="answer-body">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lectus quam, suscipit non vehicula et, ultricies vel purus. Curabitur et ligula sed elit pulvinar rhoncus ac vitae metus. N…
                                    </div>
                                
                                    <div class="answer-footer">
                                        <img src="../../assets/images/heart-grayscale.svg">
                                        3
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


