<section class="user-profile">
    <div class="row">
        <div class="user-profile-header">
        </div>    
    </div>

    <div class="user-profile-body">
        <div class="container">
            <div class="row">
                <div class="col-4">
                    <app-side-user-profile *ngIf="user" [user]="user"></app-side-user-profile>
                </div>

                <div class="col-8">
                    <div class="user-activities">
                            <div class="user-activities-header">
                                <div class="user-activities-btn active">Answers</div>
                                <div class="user-activities-btn" routerLink="../questions">Questions</div>
                            </div>

                            <div class="user-activities-body">
                                <p *ngIf="answers.length === 0" [ngStyle]="{'padding': '10px'}">No answers yet.</p>
                                <app-user-answer [answer]="answer" *ngFor="let answer of answers"></app-user-answer>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


