:host{
    display: flex;
    flex-direction: column;
    border: 2px solid #EBF2F7;
    border-radius: 10px;
    padding: 20px;
}

.signup-section{
    padding-top: 80px;
}

.my-input{
    border-radius: 20px;
    background-color: #EBF2F7;
    color: black;
}

.signup-caption{
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    margin-bottom: 20px;
}

.my-form-group{
    margin-bottom: 20px;
}

.signup-field-text{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #6C7591;
}

.my-btn{
    background-color: #4FB3F6;
    color: white;
    border-radius: 20px;
    padding: 10px 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    margin-bottom: 20px;
}

.my-btn:hover{
    background-color: #1091e7;
}