<section class="user-profile">
    <div class="row">
        <div class="user-profile-header">
        </div>    
    </div>

    <div class="user-profile-body">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <app-side-user-profile [user]="user"></app-side-user-profile>
                </div>

                <div class="col-lg-8">
                    <div class="user-activities">
                            <div class="user-activities-header">
                                <div class="user-activities-btn" routerLink="../answers">Answers</div>
                                <div class="user-activities-btn active">Questions</div>
                            </div>

                            <div class="user-activities-body">
                                <p *ngIf="questions.length === 0" [ngStyle]="{'padding': '10px'}">No questions yet.</p>
                                <app-user-question [question]="question" *ngFor="let question of questions"></app-user-question>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


