<section class="hero">
    <div class="container-lg">
        <div class="row my-row">
            <div class="col-md-8 col-sm-12 left">
                <h1>Go from questioning to understanding</h1>
                <p>Brainly is the knowledge-sharing community where 350 million students and experts put their heads together to crack their toughest homework questions.</p> 
                <div class="my-search-group">
                    <input type="text" class="my-search-input" placeholder="What is your question?"/>
                    <button class="btn"><img src="../../assets/images/search.svg" class="my-search-btn"/></button>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 right">
                <img src="../../assets/images/hero-ilustration.svg" class="hero-animation">
            </div>
        </div>
    </div>
</section>