<nav class="navbar navbar-expand my-navbar" [ngClass]="{sticky : url !== '/'}">
    <div class="container-lg my-container">
        <a class="navbar-brand" routerLink="{{user? '/dashboard' : '/'}}">
            <img src="../../assets/images/brainly-brand.svg" class="my-brand my-brand-pc"/>
            <img src="../../assets/images/brainly-brand-mobile.svg" class="my-brand my-brand-mobile"/>
        </a>
        <ul class="navbar-nav">
            <li class="navbar-item my-item" routerLink="/login" *ngIf="!user"><a >LOG IN</a></li>
            <li class="navbar-item my-item" routerLink="/signup" *ngIf="!user"><a >JOIN NOW</a></li>
            <li class="navbar-item my-item"><a>ASK QUESTION</a></li>
            <li class="navbar-item my-item" (click)="onLogOut()" routerLink="/" *ngIf="user"><a>LOG OUT</a></li>
        </ul>
    </div>
</nav>