<nav class="navbar navbar-expand my-navbar" [ngClass]="{sticky : url !== '/'}">
    <div class="container-lg my-container">
        <a class="navbar-brand" routerLink="{{user? '/dashboard' : '/'}}">
            <img src="../../assets/images/brainly-brand.svg" class="my-brand my-brand-pc"/>
            <img src="../../assets/images/brainly-brand-mobile.svg" class="my-brand my-brand-mobile"/>
        </a>
        <ul class="navbar-nav">
            <li class="navbar-item my-item" routerLink="/login" *ngIf="!user"><a >LOG IN</a></li>
            <li class="navbar-item my-item" routerLink="/signup" *ngIf="!user"><a >JOIN NOW</a></li>
            <li class="navbar-item my-item" routerLink="{{user? '/ask-question' : '/login'}}"><a>ASK QUESTION</a></li>
            <li class="navbar-item user-icon-container" routerLink="{{user? '/messages' : '/login'}}" *ngIf="user">
                <img src="../../assets/images/messages.svg" class="user-icon">
            </li>
            
            <li class="navbar-item user-icon-container" *ngIf="user"> 
                <div class="dropdown dropstart">
                    <button [ngStyle]="{border: 'none', backgroundColor:'transparent'}" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="{{user.profilePicture? user.profilePicture:'../../assets/images/icon_brain_round.png'}}" class="user-icon">
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                      <li><a class="dropdown-item" [routerLink]="['/users',user.userId]">View Profile</a></li>
                      <li><a class="dropdown-item" href="#">Edit Profile</a></li>
                      <li (click)="onLogOut()"><a class="dropdown-item">Log Out</a></li>
                    </ul>
                </div>


                
            </li>
        </ul>
    </div>
</nav>