<div class="my-questions">
    <div class="question-header-container">
        <div class="question-header-header"><img src="../../assets/images/icon_brain_round.png" class="brain-icon">The Brain Answerer</div>
        <div class="question-header-body">
            <div class="question-header-caption">What do you need to know?</div>
            <button class="btn question-header-btn" routerLink="/ask-question">ASK YOUR QUESTION</button>
        </div>
    </div>

    <ng-container *ngIf="!contentLoad">
        <div class="question-container" *ngFor="let i of [].constructor(5)">
            <ngx-skeleton-loader count="1" appearance="circle" [theme]="{'background-color': '#E0E3E5'}"></ngx-skeleton-loader>
            <ngx-skeleton-loader count="4" [theme]="{'background-color': '#E0E3E5'}"></ngx-skeleton-loader>
        </div>
    </ng-container>

    <ng-container  *ngIf="contentLoad">
        <div *ngIf="questions.length === 0" [ngStyle]="{'margin': '20px 10px'}">No result.</div>

        <dashboard-question *ngFor="let question of questions" [question]="question" [watchers]="getWatcher(question.questionId).watchers"></dashboard-question>
    </ng-container>
</div>