<div class="answer-container">
    <div class="answer-header">
        <div class="user-icon"><img src="{{answer.profilePicture? 'http://localhost:3000/images/'+answer.profilePicture:'../../assets/images/icon_brain_round.png'}}"></div>
        <div class="question-detail">
            <div>
                <span class="username">{{answer.username}}</span> answered <p class="question" [routerLink]="['/question',answer.questionId]">{{answer.question}}</p>
            </div>
            <div>
                <span class="date">{{helper.relativeDate(answer.date)}}</span> <span class="subject"> {{helper.titleCase(answer.subject)}}</span>
            </div>
        </div>
    </div>

    <div class="answer-body">
        {{answer.answer}}
    </div>

    <div class="answer-footer">
        <img src="../../assets/images/heart-grayscale.svg">
        {{answer.thanksCtr}}
        <img *ngIf="answer.isBrainliest" [ngStyle]="{'margin-left': '10px'}" src="../../assets/images/excellent-1.svg">
    </div>
</div>