<section class="question-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <div class="question-container">
                    <div class="question">       
                        <div class="question-header">

                            <img src="{{question.profilePicture? question.profilePicture:'../../assets/images/icon_brain_round.png'}}" alt="" class="user-icon" [routerLink]="['/users',question.askerId]">
                            <div class="question-info-container">
                                <div class="user-name">{{question.username}}</div>
                                <div class="question-info">
                                    <div class="date">{{helper.relativeDate(question.date)}}</div>
                                    <div class="subject">{{helper.titleCase(question.subject)}}</div>
                                </div>
                            </div>

                            <div class="dropdown question-dropdown" *ngIf="user.userId === question.askerId">
                                <button class="btn btn-secondary" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots-vertical" viewBox="0 0 16 16">
                                        <path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
                                    </svg>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                    <li routerLink="edit-question"><a class="dropdown-item">Edit</a></li>
                                    <li (click)="onDelete()"><a class="dropdown-item">Delete</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="question-body">
                            {{question.question}}
                        </div>
                        <div class="answer-btn-and-comment-btn-container">
                            <button class="btn question-btn" (click)="onAnswerClick()">
                                <div class="answer-count">
                                    <span>{{question.answersCtr}}</span>
                                </div> 
                                SEE ANSWERS
                                
                            </button>

                            <button class="btn add-answer-btn" routerLink="add-answer" [disabled]="question.isUserAnswered || user.userId === question.askerId">
                                <img src="../../assets/images/plus.svg" class="plus-icon"/>

                                ADD ANSWER
                                <div class="reward-points">
                                    <span>+ {{question.rewardPoints}} PTS</span>
                                </div> 
                            </button>

                            <div (click)="onCommentClick()">
                                <div class="comments-view-btn" [ngClass]="{'clicked':showComment}">
                                    <svg xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" class="sg-icon__svg" width="30"  height="30" >
                                        <defs>
                                            <symbol viewBox="0 0 512 512" style="overflow: visible" id="icon-comment" xmlns="http://www.w3.org/2000/svg">
                                                <title>comment</title>
                                                <path d="M392.533 128c18.235-.516 33.473 13.77 34.134 32v192c-.66 18.23-15.9 32.516-34.134 32h-243.2l-38.441 38.44a14.972 14.972 0 0 1-25.559-10.586V160c.66-18.23 15.9-32.516 34.134-32zM170.667 234.667c-11.782 0-21.334 9.55-21.334 21.333 0 11.782 9.552 21.333 21.334 21.333S192 267.783 192 256c0-11.782-9.551-21.333-21.333-21.333zm170.666 0c-11.782 0-21.333 9.55-21.333 21.333 0 11.782 9.551 21.333 21.333 21.333 11.782 0 21.334-9.55 21.334-21.333 0-11.782-9.552-21.333-21.334-21.333zm-85.333 0c-11.782 0-21.333 9.55-21.333 21.333 0 11.782 9.55 21.333 21.333 21.333 11.782 0 21.333-9.55 21.333-21.333 0-11.782-9.55-21.333-21.333-21.333z"></path>
                                            </symbol>
                                        </defs>
                                        <use xlink:href="#icon-comment" fill="#687B8C"></use>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- for comments -->
                    <app-comments [showComment]="showComment" [question]="question"></app-comments>
                    <div *ngIf="isTypingAnswer">A user is typing an answer...</div>
                </div>
                
                <!-- for answers -->
                <app-answers [showAnswer]="showAnswer" [question]="question"></app-answers>
            </div>

            <div class="col-lg-3">
                <app-side-user></app-side-user>
            </div>
        </div>
    </div>



</section>