<section class="threads-list">
    <p *ngIf="threads.length === 0">No threads yet.</p>
    <div *ngFor="let thread of threads" class="row" (click)="changeThread(thread.threadId)">
        <div class="thread">
            <div class="user-icon">
                <img src="{{
                    user.userId === thread.user1Id?
                    (thread.user2ProfilePicture? 'http://localhost:3000/images/'+thread.user2ProfilePicture: '../../assets/images/messages.svg')
                    :
                    (thread.user1ProfilePicture? 'http://localhost:3000/images/'+thread.user1ProfilePicture: '../../assets/images/messages.svg')
                }}">
            </div>
            <div class="chat-container">
                <div class="username">{{thread.user1Id === user.userId? thread.user2Username : thread.user1Username}}</div>
                <div class="last-message">{{thread.lastMessage}}</div>
                <div class="last-message-date">{{helper.relativeDate(thread.lastMessageDate)}}</div>
            </div>
        </div>
    </div>
</section>