<section class="signup-section">
    <div class="container">
        <error-message *ngIf="errorMessages[0]" errorMessage="{{errorMessages[0]}}"></error-message>

        <div class="row">
            <div class="col-lg-4">
                <signup-form 
                    [signupForm]="signupForm"
                    (onSubmit)="submitForm()"
                    (onSelectImage)="updateImage($event)"
                ></signup-form>
            </div>
            <div class="col-lg-8">
                <tagline>JOIN US AND LET'S START SHARING KNOWLEDGE</tagline>
            </div>
        </div>
    </div>
</section>