<section class="edit-question">
    <div class="container">
        <div class="row">
            <div class="alert alert-danger"  *ngIf="errorMessages[0]" role="alert">
                {{errorMessages[0]}}
            </div>
            <div class="col-9">
                <div class="edit-question-container">
                    <form [formGroup]="editQuestionForm" (ngSubmit)="onSubmit()">
                        <div class="edit-question-header">
                            Ask a question about your assignment
                        </div>
                        <div class="edit-question-body">
                            <textarea rows="8" formControlName="newQuestion" placeholder="Write your question here. Keep it simple and clear to get the best answer."></textarea>
                        </div>
                        <div class="edit-question-options">
                            
                                <div class="row">
                                    <div class="col-6">
                                        <div class="subject">
                                            <select class="form-select" [disabled]="true">
                                                <option [selected]="question.subject === 'filipino'" value="filipino">Filipino</option>
                                                <option [selected]="question.subject === 'math'" value="math">Math</option>
                                                <option [selected]="question.subject === 'araling-panlipunan'" value="araling-panlipunan">Araling Panlipunan</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-2">
                                        <div class="points">
                                            <div class="form-group">
                                                <input type="number" [disabled]="true" class="form-control" [min]="10" [max]="user.currentPoints" value="{{question.rewardPoints}}" placeholder="Reward">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="point-status">
                                            You have {{user.currentPoints}} points
                                        </div>
                                    </div>
                                </div>



                        </div>
                        <button class="btn btn-submit" type="submit">UPDATE YOUR QUESTION</button>
                    </form>
                </div>
            </div>
            <div class="col-3">
                <app-side-user></app-side-user>
            </div>
        </div>
    </div>
</section>