<section class="dashboard">
    <div class="container">
        <div class="row">

            <!-- start of subjects -->
            <div class="col-2">
                <app-subjects></app-subjects>
            </div>
            <!-- end of subjects -->

            <!-- start of questions -->
            <div class="col-7 my-questions">
                <div class="question-header-container">
                    <div class="question-header-header"><img src="../../assets/images/icon_brain_round.png" class="brain-icon">The Brain Answerer</div>
                    <div class="question-header-body">
                        <div class="question-header-caption">What do you need to know?</div>
                        <button class="btn question-header-btn" routerLink="/ask-question">ASK YOUR QUESTION</button>
                    </div>
                </div>

                <div *ngIf="questions.length === 0" [ngStyle]="{'margin': '20px 10px'}">No result.</div>

                <!-- LOOP FOR EACH QUESTION -->
                <div class="question-container" *ngFor="let question of questions">
                    <div class="my-question-header">
                        <img class="brain-icon" src="../../assets/images/icon_brain_round.png" title="{{question.username}}">
                        <span class="question-subject">{{titleCase(question.subject)}}</span>
                        <span class="date">{{relativeDate(question.date)}}</span>
                        <div class="points-container">
                            <img src="../../assets/images/points.svg" class="points-icon">
                            +{{question.rewardPoints}} <span [ngStyle]="{color: '#687B8C'}"> pts </span>
                        </div>
                    </div>
                    <div class="question-body" [routerLink]="['/question',question.questionId]">
                        <p>{{question.question}}</p>
                    </div>
                    <div class="answer-btn-container">
                        <button class="btn answer-btn">Answer</button>
                    </div>
                </div>
            </div>
            <!-- end of questions -->


            <!-- start of user -->
            <div class="col-3">
                <app-side-user></app-side-user>
            </div>
            <!-- end of user -->
        </div>
    </div>
</section>