<section class="dashboard" [ngStyle]="{overflow: 'hidden'}">
    
    <div class="black-layer" [ngClass]="{'open':showMenu}"></div>
    <img src="../../assets/images/hamburger.png" class="menu" (click)="handleOpenMenu()">

    <div class="container-lg white">
        <div class="row">

            <div class="col-12 col-sm-6 col-lg-2 subjects-container" [ngClass]="{'open':showMenu}">
                <dashboard-sidebar (onCloseMenu)="handleCloseMenu()"></dashboard-sidebar>
            </div>

            <div class="col-lg-7">
                <dashboard-questions [subject]="subject$ | async "></dashboard-questions>
            </div>

            <div class="col-lg-3">
                <dashboard-side-user></dashboard-side-user>
            </div>
        </div>
    </div>
</section>