*{
    font-family: 'Roboto', sans-serif;
}

.dashboard{
    padding-top: 80px;
}

/* start of subjects styles */

/* .my-subjects{
    padding: 20px;
}

.subjects-header{
    padding: 10px 10px 16px 10px;
    border-bottom: 2px solid #EBF2F7;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
}

.my-subject{
    margin: 5px 0px;
    padding: 5px;
    cursor: pointer;
}

.my-subject.active{
    background-color: #EBF2F7;
}

.my-subject:hover{
    background-color: #EBF2F7;
}

.subject-icon{
    margin: auto 0;
} */

/* end of subjects styles */

/* ################################################################################################### */


/* start of questions styles */

.my-questions{
    padding: 0px 20px;
    border: 2px solid #EBF2F7;
    border-radius: 20px;
    margin: 20px 0px;
}

.question-header-container,
.question-container{
    padding: 30px 10px;
    border-bottom: 2px solid #EBF2F7;
}

.question-header-header{
    font-weight: 700;
}

.brain-icon, .user-icon{
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
}

.question-header-body{
    margin: 20px;
    padding: 0 20px;
}

.question-header-caption{
    font-size: 60px;
    font-weight: 900;
    line-height: 60px;
    margin-bottom: 30px;
}

.question-header-btn{
    background-color: #4FB3F6;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    color: white;
    border-radius: 20px;
    padding: 8px 18px;
    transition: 0.4s;
}

.question-header-btn:hover{
    background-color: #1091e7;
}

.question-subject,
.date{
    font-weight: 700;
    margin-right: 6px;
}

.points-container{
    float: right;
    background-color: #EBF2F7;
    border-radius: 20px;
    padding: 4px 8px;
    font-weight: 700;
}

.points-icon{
    width:100%;
    max-width:20px;
}

.question-body{
    margin: 20px 40px;
    font-weight: 400;
    font-size: 20px;
    cursor: pointer;

}

.question-body p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.question-body p:hover{
    text-decoration: underline;
}

.answer-btn-container{
    display: flex;
    justify-content: flex-end;
}

.answer-btn{
    border: 2px solid black;
    border-radius: 20px;
    font-weight: 600;
    padding: 6px 16px;
    font-size: 12px;
    text-transform: uppercase;
}
/* end of questions styles */

/* for watchers */
.watchers-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.watch-icon{
    width: 25px;
    height: 25px;
    margin-right: 20px;
}

.user-icon-container{
    position: relative;
}

.watcher-icon{
    height:25px;
    width: 25px;
    object-fit: cover;
    border-radius: 50%;
}

.watcher-username{
    opacity: 0;
    position: absolute;
    top:0;
    left: 100%;
    vertical-align: middle;
    color: black;
    white-space: nowrap;
    font-size: 12px;
    background-color: rgba(43, 42, 42, 0.8);
    color:white;
    border-radius: 4px;
    padding: 4px 10px;
    transition: 0.4s;
    z-index: 1;
    visibility: hidden;
}

.watcher-icon:hover ~ .watcher-username{
    opacity: 1;
    z-index:20;
    visibility: visible;
}
