*{
    font-family: 'Roboto', sans-serif;
}

.messages{
    padding: 20px 0px;
    border-bottom: 2px solid #E5E5E5;
    height: calc(100vh - 130px);
    overflow-y: auto;
    overflow-x:hidden;
}

.message{
    display: flex;
    align-items: center;
    padding: 4px 0px;
}

.message.right{
    flex-direction: row-reverse;
}

.right .message-text-container{
    color:white;
    background-color: #0099FF;
}

.user-icon{
    margin-right: 10px;
}

.right .user-icon{
    margin-left: 10px;
}

.user-icon > img{
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
}

.message-text-container{
    border-radius: 20px;
    padding: 4px 16px;
    background-color: #E4E6EB;
    max-width: 80%;
    overflow-wrap:break-word;
    position: relative;
}

.date-tooltip{
    opacity: 0;
    vertical-align: middle;
    position: absolute;
    color: black;
    
    top: 50%;
    left: 100%;
    transform:translate(0,-50%);

    white-space: nowrap;
    font-size: 12px;
    background-color: rgba(43, 42, 42, 0.8);
    color:white;
    border-radius: 4px;
    padding: 4px 10px;
    transition: 0.4s;
}

.right > .message-text-container > .date-tooltip{
    left: auto;
    right:100%;
}

.message-text:hover ~ .date-tooltip{
    opacity: 1;
}

.ellipsis{
    width: 25px;
}


.form{
    width: 100%;
    padding: 10px;
    display: flex;
}

.form > textarea{
    flex-grow: 2;
    width: 100%;
    height: 30px;
    border: none;
    outline: none;
    border-radius:  20px;
    background-color: #F3F3F5;
    padding: 4px 16px;
    resize: none;
    /* overflow-y: auto; */
}

img{
    width:25;
    height:25;
    margin-left: 10px;
    cursor: pointer;
}