<div class="row" *ngIf="thread">
    
    <section class="messages" #scrollMe [scrollTop]="scrollMe.scrollHeight">
        <!-- <p *ngIf="messages?.length === 0">No messages yet.</p> -->
        <div class="message" *ngFor="let message of messages" [ngClass]="{'right':user.userId === message.senderId}">
            <div class="user-icon">
                <img 
                src="{{message.senderProfilePicture? message.senderProfilePicture:'../../assets/images/icon_brain_round.png'}}"
                >
            </div>
            
            <div class="message-text-container">
                <div class="message-text">
                    {{message.message}}
                </div>
                <div class="date-tooltip">{{helper.calendarDate(message.date)}}</div>
            </div>
        </div>

        <div class="message" *ngIf="messageTyping">
            <div class="user-icon">
                <img src="{{
                    user.userId === thread.user1Id?
                    (thread.user2ProfilePicture? thread.user2ProfilePicture: '../../assets/images/messages.svg')
                    :
                    (thread.user1ProfilePicture? thread.user1ProfilePicture: '../../assets/images/messages.svg')
                }}">
            </div>
            
            <div class="message-text-container">
                <img src="../../../assets/images/ellipse-dots.gif" class="ellipsis">
            </div>
        </div>
    </section>


    <form [formGroup]="messageForm" class="form">
        <textarea class="message-area" rows="4" (keyup)="updateMessageTyping($event)" formControlName="message" (keyup.enter)="onSubmit()" placeholder="Aa"></textarea>
    </form>
</div>