*{
    font-family: 'Roboto', sans-serif;
}

.add-comment{
    /* border: 2px solid red; */
    display: flex;
    padding: 6px 0px;
    margin: 10px 0px;
}

.user-icon{
    width: 100%;
    max-width: 40px;
    margin-right: 20px;
}

.comment-user-icon{
    align-self: center;
    /* margin: 0px 10px 0px 0px; */
}

form{width:100%;}

.comment-area{
    width: 100%;
    border-radius: 20px;
    /* height: 40px; */
    height: auto;
    background-color: #EBF2F7;
    padding: 10px 20px;
    vertical-align: middle;
    overflow: hidden;
    resize: both;
    border: none;
}

.comment-area:focus{
    outline: none;

}

[placeholder]:empty::before {
    content: attr(placeholder);
    color: #7D7B8C; 
}

[placeholder]:empty:focus::before {
    content: "";
}

.other-comment{
    margin: 6px 0px;
}