<div class="comments-container" *ngIf="showComment">
    <div class="other-comment" *ngFor="let comment of comments">
        <img src="../../assets/images/icon_brain_round.png" title="{{comment.username}}" class="user-icon comment-user-icon"> {{comment.comment}}
    </div>

    <div class="add-comment">
        
            <img src="../../assets/images/icon_brain_round.png" alt="" class="user-icon comment-user-icon">
            <form [formGroup]="commentForm">
                <ng-container *ngIf="!answer">
                    <textarea class="comment-area" rows="1" formControlName="comment" (keydown.enter)="onSubmit()" placeholder="Ask {{question.username}} about the question..."></textarea>
                </ng-container>
                <ng-container *ngIf="answer">
                    <textarea class="comment-area" rows="1" formControlName="comment" (keydown.enter)="onSubmit()" placeholder="Ask {{answer.username}} about the answer..."></textarea>
                </ng-container>
            </form>
        
    </div>
</div>